<!-- secret -->
<h1>This is home page</h1> 

<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li>
<li><a href="/movies">moviesList</a></li>
<li><a href="/series">seriesList</a></li>
<h1>This is secret page</h1> 




  
